version: "2"

stack_defaults:
    runner_image: public.ecr.aws/m0n1c3u2/runners/spacelift:latest
    before_init:
    - echo "Checking format..."
    - tofu fmt -diff -recursive
    - echo "Linting..."
    - tflint
    after_plan:
    - tofu show -json spacelift.plan > tfplan.json
    - echo "Scanning..."
    - checkov --config-file .spacelift/$ENVIRONMENT.yaml --quiet

stacks:
  ecs:
    project_root: infra
        terraform_version: 0.12.4
    second-stack:
        <<: *shared
        terraform_version: 0.13.0
        environment:
            AWS_REGION: eu-west-1
            TF_VAR_access_roles: '[productionsecurity, admin]'