version: "2"

stack_defaults:
    runner_image: public.ecr.aws/m0n1c3u2/runners/spacelift:latest
    before_init:
    - echo "Checking format..."
    - tofu fmt -diff -recursive
    - echo "Linting..."
    - tflint
    after_plan:
    - tofu show -json spacelift.plan > tfplan.json
    - echo "Scanning..."
    - checkov --config-file .spacelift/$ENVIRONMENT.yaml --quiet

stacks:
  ecs:
    project_root: ecs/
    environment:
      ENVIRONMENT: dev
      TF_CLI_ARGS_plan: -var-file environments/$ENVIRONMENT.tfvars
